*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
}

.page {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color);
  min-inline-size: 360px;
}

.header {
  padding-top: 10%;
}

.heading {
  font-family: var(--accent-font, serif);
  /* font-size: 30px; */
  line-height: 90%;
  text-align: center;
}

.header__title {
  margin-bottom: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.content-section {
  padding: 0 5vi;
}

.content__title {
  margin-top: 7%;
  margin-bottom: 2.5%;
  font-size: 30px;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__text-block_type_first-lettered::first-letter {
  display: inline-block;
  margin-right: 1px;
  padding: 0 4px;
  font-weight: bold;
  background-color: var(--accent-color);
}

.content__paragraph {
}

.content__blockquote {
  width: 75%;
  margin: 0 auto 1.5em;
  font-style: italic;
  line-height: 200%;
}

.paragraph__link {
  color: currentColor;
}

.content__list {
  padding-inline-start: 40px;
  list-style: none;
}

.content__list-item {
  position: relative;
}

.content__list-item::before {
  content: ' ';
  position: absolute;
  left: -20px;
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.content__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.content__figure {
  position: relative;
  right: 5vi;
  width: calc(100% + 10vi);
  margin: 7% 0;
}

.content__picture-image {
  width: 100%;
}

.content__picture-caption {
  border-bottom: 1px solid currentColor;
  padding: 20px 0;
  text-align: center;
}

.content__card {
  position: relative;
  right: 5vi;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% + 10vi);
  margin-top: 7%;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  aspect-ratio: 4 / 3;
}

.content__card-title {
  font-size: 60px;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  content: ' ';
  position: absolute;
  bottom: 20%;
  left: 0;
  z-index: -1;
  width: calc(100% + 4px);
  height: 0.3em;
  background-color: var(--accent-color);
}

.content__card-subtitle {
  text-align: center;
}
